@font-face {
  font-family: "FARSI-INSPIRED Regular";
  font-style: normal;
  font-weight: normal;
  /* src: local("FARSI-INSPIRED Regular"),
    url("Farsi-Inspired.woff") format("woff"); */
  src: url("/Users/vandahtaghdisi/Documents/SheCodes/Challenges/projet-un/fonts/Farsi-Inspired.woff")
      format("embedded-opentype"),
    /* Internet Explorer */
      url("/Users/vandahtaghdisi/Documents/SheCodes/Challenges/projet-un/fonts/Farsi-Inspired.woff")
      format("woff2"),
    /* Super Modern Browsers */
      url("/Users/vandahtaghdisi/Documents/SheCodes/Challenges/projet-un/fonts/Farsi-Inspired.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("/Users/vandahtaghdisi/Documents/SheCodes/Challenges/projet-un/fonts/Farsi-Inspired.woff")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/Users/vandahtaghdisi/Documents/SheCodes/Challenges/projet-un/fonts/Farsi-Inspired.woff")
      format("svg"); /* Legacy iOS */
}

h1 {
  color: #292c30;
  font-family: "Farsi-inspired";
  font-size: 20px;
  margin: auto 10px;
}
.hover {
  cursor: pointer;
}
/* .weatherDetails {
  color: #292c30;
  opacity: 80%;
  font-family: 'EB Garamond', serif;;
} */
.detailList {
  margin: auto 10px;
  padding: 0;
  list-style: none;
  color: #292c30;
  opacity: 80%;
  font-family: "Farsi-inspired";
  font-size: 15px;
}
/* .mainBox {
  max-width: 600px;
  max-height: 600px;
  display: block;
  margin: 50px auto;
  padding: 20px;
} */
.mainBox {
  display: block;
  margin: 50px auto;
}
.boxOne {
  background-color: #efefef;
  max-width: 300px;
}
.searchBox {
  background-color: #efefef;
}
.units {
  font-size: 18px;
  color: #292c30;
  margin: auto 10px;
  font-family: "Farsi-inspired";
}
.boxTwo {
  background-color: #60ddea;
  max-width: 300px;
}

.bigThumbnail {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.thumbnail {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.searchbar {
  width: 100%;
  height: 30px;
}
.searchButton {
  max-height: 30px;
}
.unitLetter {
  color: #292c30;
  cursor: default;
  text-decoration: none;
}
.unitLetter:hover {
  color: #292c30;
}
.weekday {
  color: #292c30;
  text-align: center;
  font-family: "Farsi-inspired";
}
.geoloc-button {
  margin: 0px 10px 10px 0px;
}
.githublink {
  color: black;
}
.active {
  color: #aebfff;
}
