h1 {
  color: #6c757d;
  font-family: "Caveat", cursive;
  font-size: 40px;
  margin: 10px 10px 0px 0px;
}
.hover {
  cursor: pointer;
}
.weatherDetails {
  color: #6c757d;
  opacity: 80%;
  font-family: "Caveat", cursive;
}
.detailList {
  margin: auto 10px;
  padding: 0;
  list-style: none;
  color: #6c757d;
  opacity: 80%;
  font-family: "Caveat", cursive;
  font-size: 20px;
}
.mainBox {
  max-width: 600px;
  max-height: 600px;
  display: block;
  margin: 50px auto;
  padding: 20px;
}
.bigThumbnail {
  max-width: 500px;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}
.thumbnail {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.searchbar {
  width: 100%;
  height: 30px;
}
.searchButton {
  padding: 0px 0.75rem;
}
.weekday {
  color: #6c757d;
  text-align: center;
}
.githublink {
  color: black;
}
